---
const { basics } = Astro.props

import { WorldIcon } from '@icons/World.tsx'

const {
  name,
  label,
  location,
  profiles,
  phone,
  email,
  summary,
  disponibility,
} = basics
const { city, region } = location

const linkedInfo = profiles.find(({ network }: any) => network === 'LinkedIn')
const linkedUrl = linkedInfo?.url

const printInfo = [email, phone, linkedUrl].filter(Boolean).join(' • ');
---

<section id="CvHero">
  <div class="flex flex-col gap-2">
    <div class="flex flex-col-reverse gap-2">
      <h1 class="text-3xl font-bold text-balance mb-2">{name}, {label}.</h1>
      <p class="flex flex-wrap gap-1 items-center text-sm">
        <WorldIcon class="size-[14px] text-zinc-600" />
        <span class="pr-2">
          {city}, {region}
        </span>
        -
        <span class="pl-2">
          Disponibilidad: {disponibility}
        </span>
      </p>
    </div>
    <p class="pb-4 border-b border-black/20 text-sm text-pretty text-zinc-600">
      {summary}
    </p>
    <footer class="pt-4 text-pretty text-sm text-zinc-600">
      {printInfo}
    </footer>
  </div>
</section>
