---
interface Props {
  name: string;
  position: string;
  date: string;
  type: string;
  summary: string[];
}

const { name, position, date, type, summary } = Astro.props;
---

<article class="flex flex-wrap">
  <div
    class="mb-4 mr-8 flex flex-wrap justify-between items-center w-fit min-w-[280px]"
  >
    <div class="w-full flex flex-col gap-5">
      <h3 class="text-lg text-balance font-bold capitalize">
        <span class="opacity-80 font-semibold">{name}</span>
        <br>
        {position}
      </h3>
      <div class="flex flex-col gap-1 opacity-90">
        <time class="text-sm">{date}</time>
        <p class="text-sm">{type}</p>
      </div>
    </div>
  </div>
  <ul class="mt-3 w-full max-w-[500px]">
    {summary.map((item: string) => <li class="text-sm mb-2 opacity-90 first-letter:text">{item}</li>)}
  </ul>
</article>
